[submodule "third-party-libraries/libuv"]
	path = third-party-libraries/libuv
	url = https://github.com/libuv/libuv.git
[submodule "third-party-libraries/libCCORE"]
	path = third-party-libraries/libCCORE
	url = https://github.com/delphifeel/libCCORE.git
